name: lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  run-lint:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: ".nvmrc"
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Prepare env files
        run: |
          cp packages/prisma/.env.test.sample packages/prisma/.env

      - name: Run secretlint
        run: pnpm run secretlint

      - name: Run format
        run: pnpm run format

      - name: Run type-check
        run: pnpm exec turbo run type-check

      - name: Run lint
        run: pnpm run lint
