name: lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  run-lint:
    timeout-minutes: 10
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Setup pnpm
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d

      - name: Setup node.js
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version-file: ".nvmrc"
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Run secretlint
        run: pnpm run secretlint

      - name: Run format
        run: pnpm run format

      - name: Run generator build
        run: pnpm -F @minute/prisma-factory build && pnpm i --frozen-lockfile

      - name: Run type-check
        run: pnpm exec turbo run type-check

      - name: Run lint
        run: pnpm exec turbo run lint
